.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  gap: var(--padding-s);
  padding: var(--padding-l);
  @media screen and (max-width: 1023px) {
    flex-direction: column-reverse;
    padding-inline: var(--padding-s);
  }

  &__info {
    flex-basis: 600px;
    & p {
      text-align: left;
      color: var(--font-main);
      font-size: var(--font-size-s);
      font-weight: 500;
      &:not(:last-child) {
        margin-block-end: var(--padding-xs);
      }
    }
  }
  &__image {
    max-inline-size: 400px;
    inline-size: 100%;
    aspect-ratio: 4/3;
    border-radius: 20px;
    overflow: hidden;
    & img {
      object-fit: contain;
      display: block;
    }
  }
}

.line {
    inline-size: 100%;
    block-size: 1px;
    background-color: var(--font-main);
    margin-block: var(--padding-s);
}
