.container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: var(--padding-xs);
    &__text {
        text-align: left;
        white-space: pre-line;
        font-size: var(--font-size-s);
        color: var(--font-secondary);
        font-style: italic;
    }
    &__span {
        font-weight: 800;
        text-align: left;
        font-size: var(--font-size-s);
    }
}