.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--padding-xs);

  &__arrowBackward,
  &__arrowForward {
    inline-size: 30px;
    block-size: 30px;
    cursor: pointer;
    transition: transform 0.5s ease;
    & svg {
      display: block;
    }
    &:hover {
      transform: scale(1.1);
    }
  }
  &__slider {
    inline-size: 100%;
    block-size: 400px;
    max-inline-size: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &__slide {
      position: absolute;
      visibility: hidden;
      opacity: 0;
      top: 0;
      transition: opacity 1s ease;
      object-fit: contain;
      inline-size: fit-content;
      block-size: 100%;
      &_active {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.modal__container {
  display: flex;
  align-items: center;
  gap: var(--padding-xs);
  justify-content: space-between;
  overflow: hidden;
  & .container__slider {
    position: relative;
    inline-size: 100%;
    max-inline-size: 80vw;
    block-size: auto;
    max-block-size: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  & .container__slider__slide {
    position: absolute;
    top: 0;
    left: 0;
    inline-size: fit-content;
    block-size: auto;
    max-block-size: 80vh;
    max-inline-size: 80vw;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    &_active {
      position: relative;
      visibility: visible;
      opacity: 1;
    }
    & img {
      block-size: auto;
      inline-size: auto;
      max-block-size: 80vh;
      max-inline-size: 80vw;
      object-fit: contain;
    }
  }
}
