.form {
  max-inline-size: 800px;
  inline-size: 80vw;
  display: flex;
  flex-direction: column;
  gap: var(--padding-s);
  &__buttons {
    display: flex;
    flex-direction: column;
    gap: var(--padding-s);
  }
}

.filesBlock {
  display: flex;
  gap: var(--padding-s);
  flex-wrap: wrap;
  &__file {
    max-inline-size: 150px;
    padding: var(--padding-xs);
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    &__deleteButton {
      position: absolute;
      inline-size: 15px;
      top: -5px;
      right: -5px;
      transition: transform 0.3s ease;
      cursor: pointer;
      &:hover {
        transform: scale(1.2);
      }
    }
    & span {
      display: block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
