.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px var(--padding-s);
  background-color: #fff;
  position: fixed;
  top: 0;
  max-inline-size: 1440px;
  inline-size: 100%;
  z-index: 1;
  box-shadow: var(--shadow);
  &__link {
    font-size: var(--font-size-l);
  }
}
