.container {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: var(--shadow);
  margin-block: calc(var(--header-height) + var(--padding-l)) var(--padding-l);
  padding: var(--padding-l) var(--padding-m);
  &__calendar {
    display: flex;
    flex-direction: column;
    gap: var(--padding-m);
  }
}